:root {
  --brand-main: #55b7b0;
  --brand-secondary: #3c3c3b;
  --background: #f8f8f8;
  --background-section: #eeeff1;
  --error: #ed4a4a;
  --white: #ffffff;
  --text: #697f86;
  --text-field: #b1c0c5;
  --btn: #2d3a6a;
  --table: #efefef;
  --archived: #b1c0c5;
}
